#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-works {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-collect {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_27 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: -6px;
  margin-top: 3px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-123b786f-df06-4f87-9296-58e9b9a10f92 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}