#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-761b5c9f-d641-4bb9-854b-ce804f2dc83a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}