#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_8 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_11 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_12 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_6 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_5 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_3 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_4 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_7 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_10 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_13 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #C98339;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #C98339;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #C98339;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #C98339;
  border-radius: 22px 22px 22px 22px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 25px 25px 25px 25px;
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8662d51c-b384-46d7-9061-86bda392a037 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8662d51c-b384-46d7-9061-86bda392a037 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}