#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Table_1 {
  border-collapse: separate;
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Table_2 {
  border-collapse: separate;
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Table_3 {
  border-collapse: separate;
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Rectangle_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Rich_text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_9 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_9 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Button {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Rich_text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_12 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_12 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Rich_text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_13 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_13 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Rich_text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_14 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_14 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Button_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Rich_text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_15 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_15 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Button_6 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Rich_text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_16 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_16 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Button_7 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Rich_text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_17 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_17 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Button_8 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e409ca50-e301-4437-bf3b-c4560fc321b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}